<div class="list-header flex">
    <div class="rankable-stars rankable-stars-relative">Relative Rating</div>
    <div class="rankable-title-text">
        {{ listHeader.rankableTitle }}
    </div>
    <div class="rankable-secondary-text text-right" *ngIf="listHeader.secondary">
        {{ listHeader.secondary }}
    </div>
</div>
<mat-form-field>
    <mat-select matNativeControl required (selectionChange)="onFilterUpdate($event)">
        <mat-option *ngFor="let filter of filters" [value]="filter">{{ filter.name }}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="selectedFilter">
    <mat-select matNativeControl required (selectionChange)="onFilterUpdate($event)">
        <mat-option *ngFor="let comparison of selectedFilter.comparisons" [value]="comparison">{{ comparison.name }}</mat-option>
    </mat-select>
</mat-form-field>
<input *ngIf="showValueInput" [(ngModel)]="selectedFilter.value">
<input *ngIf="showRangeInput" [(ngModel)]="selectedFilter.rangeEnd">
<button *ngIf="showApplyButton" (click)="onApply()">Apply</button>
<ranker-rankable *ngFor="let rankable of rankables.page" [rankable]="rankable"></ranker-rankable>
<mat-paginator [disabled]="rankables.paginationOptions.disabled" [hidePageSize]="rankables.paginationOptions.hidePageSize"
    [length]="rankables.paginationOptions.length" [pageIndex]="rankables.paginationOptions.pageIndex" [pageSize]="rankables.paginationOptions.pageSize"
    [pageSizeOptions]="rankables.paginationOptions.pageSizeOptions" [showFirstLastButtons]="rankables.paginationOptions.showFirstLastButtons"
    (page)="rankables.onPageChange($event)">
</mat-paginator>