@import 'src/app/styles/variables';

.list-header {
  font-size: 0.625rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: $gray;
  margin: 0 0 10px;
}
.rankable-stars {
  width: 90px;
}
.rankable-rank-number {
  width: 45px;
  color: $gray;
  text-align: center;
  padding-right: 10px;
}
.rankable-title-text {
  flex-grow: 1;
}
