@import 'src/app/styles/variables';

.list-header {
  font-size: 0.625rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: $gray;
  margin: 0 0 10px;
}
.rankable-stars {
  flex: none;
  width: 90px;
}
.rankable-rank-number {
  flex: none;
  width: 45px;
  color: $gray;
  text-align: center;
}
.rankable-title-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.showing-details {
  .rankable-title-text {
    white-space: normal;
  }
}
