@import 'src/app/styles/variables';
.side-container {
  position: fixed;
  width: $sideWidth;
  height: 100%;
  z-index: 500;
}
.content-container {
  position: relative;
  margin-left: $sideWidth;
  padding: 30px;
  background: white;
}