@import 'src/app/styles/variables';
.side-container {
  position: fixed;
  width: $sideWidth;
  height: 100%;
  background: $primaryColor;
  z-index: 500;
  padding: 8px;
}
.content-container {
  position: relative;
  margin-left: $sideWidth;
  padding: 30px;
}