.item {
  padding: 12px 15px;
  background: #eee;
  font-size: 0.75rem;
  margin-bottom: 2px;
  &.clickable {
    cursor: pointer;
    &:hover {
      transform: scale(1.0125, 1.0125);
    }
  }
  .item-title {
    font-size: 0.875rem;
  }
  .item-details {
    margin-top: 5px;
  }
  .sort-icon {
    color: #bbb;
    margin-right: 5px;
  }
}