@import 'src/app/styles/variables';
.rankable {
    padding: 10px 0;
    // background: #eee;
    font-size: 0.875rem;
    margin-bottom: 2px;
    &.clickable {
      cursor: pointer;
      &:hover {
        .rankable-title {
          color: $primaryColor;
        }
        // transform: scale(1.0125, 1.0125);
      }
    }
    .rankable-details {
      margin-top: 5px;
    }
    .sort-icon {
      color: #bbb;
      margin-right: 5px;
    }
    .bold {
      font-weight: bold;
    }
    &.showing-details {
      padding: 15px 0;
      // border-bottom: 1px $grayLight solid;
      .rankable-title {
        font-size: 1rem;
      }
    }
  }
  .album-tracks {
    margin-top: 15px;
  }