<div class="rankable transition" [class.clickable]="canShowDetails" [class.showing-details]="showDetails" (click)="toggleShowDetails()">
    <div class="rankable-title transition flex">
      <div class="rankable-stars">
        <ranker-stars [ranking]="rankable.ranking"></ranker-stars>
      </div>
      <div class="flex-grow" [class.bold]="showDetails">
        {{ listItemTitle }}
      </div>
      <div *ngIf="rankable.year" class="text-right">
        {{ rankable.year}}
      </div>
    </div>
    <div class="rankable-details" *ngIf="canShowDetails && showDetails">
      <ng-container *ngIf="itemIsAlbum()">
        <ng-template ngFor let-song [ngForOf]="rankable.songs" let-d="index">
          <div class="flex album-track">
            <div class="rankable-stars" *ngIf="song.ranking">
              <ranker-stars [ranking]="song.ranking"></ranker-stars>
            </div>
            <div class="flex-grow">{{ song.name }}</div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="itemIsArtist()">
        <ng-template ngFor let-album [ngForOf]="rankable.albums" let-d="index">
          <div class="flex album-track">
            <div class="rankable-stars" *ngIf="album.ranking">
              <ranker-stars [ranking]="album.ranking"></ranker-stars>
            </div>
            <div class="flex-grow">{{ album.name }}</div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
  