<div class="list-header flex">
  <div class="item-stars item-stars-relative">Relative Rating</div>
  <div class="item-title-text">
    {{ listHeader }}
  </div>
</div>
<ng-container *ngIf="canReorder">
  <div cdkDropList (cdkDropListDropped)="handleItemDropped($event)">
    <ranker-list-item *ngFor="let item of paginatedData" [item]="item" [key]="key" [canReorder]="canReorder" cdkDrag></ranker-list-item>
  </div>
</ng-container>
<ng-container *ngIf="!canReorder">
  <div>
    <ranker-list-item *ngFor="let item of paginatedData" [item]="item" [key]="key"></ranker-list-item>
  </div>
</ng-container>
<mat-paginator
  [length]="pagination.length"
  [pageSize]="pagination.pageSize"
  [pageSizeOptions]="pagination.pageSizeOptions"
  (page)="handlePageChange($event)">
</mat-paginator>