<div class="item transition" [class.clickable]="canShowDetails || canReorder" [class.showing-details]="showDetails" (click)="toggleShowDetails()">
    <div class="item-title flex">
      <div class="item-stars">
        <ranker-stars [ratings]="item.stars"></ranker-stars>
      </div>
      <div class="flex-grow" [class.bold]="showDetails">
        <i *ngIf="canReorder" class="sort-icon fa-sort fas"></i>
        {{ listItemTitle }}
      </div>
    </div>
    <div class="item-details" *ngIf="canShowDetails && showDetails">
      <ng-container *ngIf="itemIsAlbum()">
        <ng-template ngFor let-song [ngForOf]="item.songs" let-d="index">
          <div class="flex album-track">
            <div class="item-stars" *ngIf="song.stars">
              <ranker-stars [ratings]="song.stars"></ranker-stars>
            </div>
            <div class="flex-grow">{{ song.name }}</div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="itemIsArtist()">
        <ng-template ngFor let-album [ngForOf]="item.albums" let-d="index">
          <div class="flex album-track">
            <div class="item-stars" *ngIf="album.stars">
              <ranker-stars [ratings]="album.stars"></ranker-stars>
            </div>
            <div class="flex-grow">{{ album.name }}</div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
  