@import 'src/app/styles/variables';
.header-container {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 500;
  background: $primaryColor;
  // background: white;
  // border-bottom: 2px $gray solid;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.025);
  color: white;
  padding: 8px 0;
}
.app-title {
  font-size: 1.125rem;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: lowercase;
}
.settings-links {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    font-size: 0.625rem;
    padding: 6px;
    display: inline-block;
    &:hover {
      color: $primaryColorDark;
    }
  }
}