@import 'src/app/styles/variables';
.header-container {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 500;
  background: $primaryColorDark;
  color: white;
  padding: 8px 0;
}
.settings-links {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    font-size: 0.625rem;
    padding: 3px;
    display: inline-block;
    &:hover {
      color: $primaryColorLight;
    }
  }
}