@import 'src/app/styles/variables';
ul.star-rankings {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  > li {
    display: inline-block;
    position: relative;
    color: #aaa;
    font-size: 0.75rem;
    .star-ranking-fill {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      color: $primaryColor;
    }
  }
}