@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import 'src/app/styles/variables';

html,
body {
  height: 100%;
  margin: 0
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
  > div {
    flex-grow: 1;
  }
}
h1 {
  margin: 0 0 10px 0;
  font-size: 1.125rem;
  color: $primaryColorDark;
}
.button {
  @extend .transition;
  cursor: pointer;
  line-height: 1em;
  padding: 10px 8px;
  border-radius: $borderRadius;
  text-align: center;
  display: inline-block;
  background: $primaryColor;
  color: white;
  &:hover {
    background: $primaryColorLight;
  }
  &.button-disabled {
    cursor: default;
    background: #666;
  }
}

.transition {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
