@import 'src/app/styles/variables';
input {
  display: none;
}
.upload-container {
  padding: 10%;
  text-align: center;
  .button {
    font-size: 1.125rem;
  }
}
.cancel-import {
  cursor: pointer;
  margin-top: 15px;
  font-size: 0.75rem;
  color: $gray;
  &:hover {
    color: black;
  }
}